<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <app-pickup-call-card [hasHeader]="false" [hasFooter]="false" status="On Hold" updateAt="03/04/2024 17:14:00" createAt="02/04/2024" notes=" we have two bags that are full, one with plastic and the other with glass"></app-pickup-call-card>
  <app-pickup-call-card [hasHeader]="false" [hasFooter]="false" status="Processing" updateAt="23/04/2024 18:00:34" createAt="22/04/2024" notes=" we have two bags that are full"></app-pickup-call-card>
  <app-pickup-call-card [hasHeader]="false" [hasFooter]="false" status="Finished" updateAt="03/04/2024 17:14:00" createAt="02/04/2024" value="15,00"></app-pickup-call-card>
  
</ion-content>
